/* FONTS GOOGLE */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import 'https://fonts.googleapis.com/css?family=Raleway';

*{
    font-family: 'Raleway', sans-serif;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    line-height: 1.42em;
    color:#4B4A4B;
    background-color:white;
}

/* VARIABLES */

:root {
    --blanco: #E0E0E0;
    --azul-opacidad: #373838;
    --bg-menu: #000000;
    --bg-body: #C7E1FF;
}

.main{
    margin-left: 200px; 
    display: inline-block;
    justify-content:space-around;
    padding-top: 50px;
    align-items: flex-start;
    height: 100vh;  
}


#pantalla-dividida{
    display: flex;
}

.tercer-pantalla {
    width: 100%;
    float: left;
    justify-content: center;
    /* margin-bottom: 10px;  */
    display: flex;
    flex-direction: row;
    align-items:center; 
    justify-content: space-around; 
    height: 100vh; 
    /* color: #000000; */
}

.pantalla-del-medio{
    width: 100%;
    float:right;
    justify-content: center; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    /* color: #000000; */
}

#btn_añadir_carrito {
    background-color: #070707; /* Color de fondo */
    border: none; /* Sin borde */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Sin subrayado en el texto */
    display: inline-block; /* Mostrar como elemento en línea */
    font-size: 16px; /* Tamaño de fuente */
    margin: 5px 2px; /* Margen exterior */
    cursor: pointer; /* Cambiar el cursor al pasar el ratón */
    border-radius: 25px; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Estilo cuando se pasa el ratón por encima del botón */
#btn_añadir_carrito:hover {
    background-color: white; /* Cambiar el color de fondo al pasar el ratón */
    transition: 0.3s;
    color: black;
}

#input_cantidad { 
    position: relative;
    top: 2px;
    padding: 10px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

#input_cantidad:hover {
    transition: 0.3s;
    background-color: #ffffff;
    color: #000000;
}

#lbl_nombre, #lbl_precio_cantidad{
    color: #000000;
    font-size: 600;
    font-weight: bold;
}



::placeholder{
    color:#C7E1FF;
    opacity: 0.7;
}

/* Estilo del contenedor con borde */
.contenedor-borde {
    border: 2px solid black; /* Borde de 2 píxeles de ancho con un color azul */
    padding: 20px; /* Espaciado interno alrededor del contenedor */
    border-radius: 10px; /* Bordes redondeados */
    display: inline-block; /* Hacer que el contenedor se ajuste al contenido */
}

/* Estilo de los elementos dentro del contenedor */
.contenedor-borde label, .contenedor-borde input, .contenedor-borde button {
    display: block; /* Hacer que los elementos se muestren uno debajo del otro */
    margin-bottom: 10px; 
}



.list-view th h1 {
    font-weight: bold;
    font-size: 1em;
    text-align: left;
    color: #FFFFFF;
}


.list-view {
    text-align: left;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    display: table;
    padding: 0 0 8em 0;
}

.list-view td, .list-view th {
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left:2%;  
    text-align: center;
}

.list-view th h1 {
    
    text-align: center;
}

.list-view tr:nth-child(odd) {
    background-color: #FFEDD8;
}

.list-view tr:nth-child(even) {
    background-color: #FFDAC4;
}

.list-view th {
    background-color: #151d1b;
}

.list-view td:first-child, .list-view tr { 
    color: #000000; 
}

.list-view ion-icon{
    color: #350133;
    font-size: 20px;
}

.list-view tr:hover{
    background-color: #3d2f2f; /* Cambia el color de fondo de la fila al pasar el cursor */
    color:#f0f0f0
}

.list-view tr:hover td:first-child,
.list-view tr:hover ion-icon {
    background-color: transparent; /* Restaura el fondo del primer td y el color de los íconos */
    color: inherit; /* Restaura el color de los íconos */
}

.list-view tr{
    font-size: 20px;
    font-weight: 400;
}

.list-view td:last-child{
    
    transition: transform 0.3s;
    
}












